.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

@media (max-width: 320px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
}
