.page {
  background-image: linear-gradient(#b60638, #300a0a);
  min-height: 1200px;
  padding-top: 80px;
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
    height: 568px;
  }
}
